* {
  padding: 0;
  margin: 0;
  font-family: poppins;
}
.navbar {
  background-color: #222f42;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inputfield {
  display: flex;
  align-items: center;
}
.inputfield button {
  padding: 0.5vw 0.6vw;
  background-color: orangered;
  border: none;
}

.inputfield p {
  font-size: 1vw;
  color: black;
  border: 1px solid black;
  border: none;
  background-color: #e9e9e7;
  padding:0.5vw;
}
.inputfield select {
  border: 1px solid black;
  border: none;
  background-color: #e9e9e7;
}
.inputfield input{
  padding:0.48vw;
}
.first img {
  width: 100%;
}
.inputfield select {
  background-color: #e9e9e7;
  border: none;
}
.userinfo {
  display: flex;
  gap: 8%;
  align-items: center;
  border-left:1px solid white;
  padding-left:2vw;
}
.userinfo p{
  color:white;
  font-size: 1vw;
}
.userinfo select {
  background-color: inherit;
  border: none;
  color:white;
}

.cartinfo {
  display: flex;
  gap: 8%;
  align-items: center;
  border-left:1px solid white;
  padding-left:2vw;
}
.cartinfo select {
  background-color: inherit;
  border: none;
  color:white;
}
.cartinfo p{
  color:white;
  font-size:1vw;
}
.heading1{
  font-weight: 300;
  text-align: center;
  margin-top: -1%;
  padding-top:5%;
}
.item1 {
  width: 20%;
  padding-bottom: 5%;
}
img.headphones {
  width: 100%;
}
h4.productname {
  text-align: center;
  font-weight: 400;
}
h5.description {
  text-align: center;
  font-weight: 400;
}
.slidingitems {
  margin-top: 5%;
}
h3.cost {
  text-align: center;
  font-weight: 600;
  color: #ff6500;
}
section.featuredrecomendations {
  background-color: #EDF2F3;
  margin-top: 0;
}
.featuredrecomendations .slidingitems{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

}
.featuredrecomendations .slidingitems img{
  width:7vw;
}
#ah3{
  text-align: center;
}
.grid{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin:8vw;
  
}
.grid .card .info{
  display:flex;
  padding:1vw;
  align-items: center;
  justify-content: space-between;
  width:77%;
  
  
  
}
.grid .card img{
  border:1px solid black;
  background-color:#EBEBEB;
  border:none;
  
}
.grid .card .info button{
  padding:0.5vw;
  background-color: #59AF0F;
  border:none;
}
#winter{
  padding:1vw 2vw 1vw 2vw;
}